a{
    color:white !important;
}
a:hover {
    color: #ff5722 !important;
}

img,.firstImg {
    max-width: 100%;
    max-height: 100%;
    min-height:100%;
    object-fit: cover;
    overflow:hidden;
}


#continue-btn{
    z-index:100 !important;
}

.custom-alert {
    color: white;
    text-align: center;
    background-color: #ff5722
}

    /* Make it fade out smoothly */
    .custom-alert.fade-out {
        opacity: 0;
        transform: translateY(-10px); /* Slight slide-up animation */
    }