



.platform-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.search-icon {
    padding: 0px 1.3em;
    background: rgb(255,53,31);
    background: linear-gradient(225deg, rgba(255,53,31,1) 0%, rgba(255,124,1,1) 100%) !important;
    color: white;
    transition: background-color 0.3s ease, opacity 0.4s ease, transform 0.3s ease !important;    
}

    .search-icon:hover {
        background: linear-gradient(52deg, rgba(244,134,32,1) 9%, rgba(237,69,16,1) 49%) !important;
        transform: scale(1.05) !important; /* Slight scaling effect on hover */
    }


.personal-round {
    border-radius: 30px;
}

.navbar-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    transition: background-color 0.4s ease, padding 0.4s ease;
    padding: 20px 40px;
}

.navbar-text {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.navbar-scrolled {
    background-color: #141414;
    padding: 10px 40px;
}

.navbar-scrolled .navbar-text {
    opacity: 0;
}

.search-pill {
    background: rgba(58, 57, 57, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateY(0);
    transition: transform 0.3s ease, background 0.3s ease;
    width: auto;
    min-width: 549px;
}

.navbar-scrolled .search-pill {
    margin-top: 0.3em;
    transform: translateY(-30px);
}

@media (max-width: 576px) {
    .search-pill {
        max-width: 150px;
    }
}

@media (max-width: 768px) {
    .search-pill {
        padding-top: 0.3em;
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        min-width: unset;
    }

    .search-icon {
        font-size: 1.4em !important;
    }

    .sm-icon {
        font-size: 2.3em !important;
    }
}

.search-pill-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    transition: all 0.4s ease;
}

.search-pill.expanded .search-input {
    display: block;
    opacity: 1;
    padding: 0.5em 1em;
    background-color: transparent;
    border-radius: 30px;
    color: white;
}

.search-input {
    display: none;
}

@media (max-width: 991.98px) {

    #category {
        opacity: 1;
        visibility: visible;
        width: auto;
        flex-shrink: 0;
    }

    .search-pill.expanded {
        width: auto;
        background-color: #ff5722;
        transition: background-color 0.3s ease;
    }

    .search-input {
        flex-grow: 1;
        display: none;
        padding: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
        border: none;
        background-color: transparent;
        color: white;
        opacity: 0;
        width: 100%;
    }
}




@media (min-width: 992px) {
    .search-pill.expanded {
        background-color: #ff5722;
        transition: background-color 0.3s ease;
    }

    #category.hidden {
        opacity: 0;
        visibility: hidden;
        width: 0;
        flex-shrink: 1;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .platform-link:hover {
        color: inherit !important;
    }
}

.search-input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#profile-image-nav {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-bottom:9px;
}