@model capstone_project.Models.Pegi

@{
    ViewData["Title"] = "Conferma Eliminazione PEGI";
    ViewBag.NavbarMarginTop = true;
    ViewBag.HideNavbarMiddle = true;
}

<div class="container-fluid px-0 mb-10">
    <div class="container text-center">
        <h1 class="text-orange">Conferma Eliminazione del PEGI</h1>
  
        <p class="text-white mb-1 fs-3">
            Sei sicuro di voler eliminare <span class="text-orange fw-bold">@Model.Name</span>?
        </p>

        <!-- Display Restriction Image (If Exists) -->
        @if (Model.Img != null)
        {
            var base64Image = Convert.ToBase64String(Model.Img);
            var imgSrc = $"data:image/png;base64,{base64Image}";
            <div class="text-center mb-3 mt-2">
                <img src="@imgSrc" alt="@Model.Name Image" class="img-fluid" style="max-width: 200px; max-height: 200px;" />
            </div>
        }
        <p class="fw-bold text-white mb-4 fs-3">
            Questa azione è <span class="text-orange">permanente</span> e non può essere annullata.
        </p>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="PegiId" />
            <button type="submit" class="auth-btn mx-5">Elimina</button>
            <a asp-action="List" class="discard-btn mx-5">Annulla</a>
        </form>
    </div>
</div>
