@model capstone_project.Models.Game

@{
    ViewBag.Title = "Conferma Eliminazione Gioco";
    ViewBag.Px0 = true;
}
<style>
    body{
        display:block;
        margin-bottom:2em;
    }
</style>
<div class="container-fluid px-0 mb-10">

   

        @if (Model.GameImages != null && Model.GameImages.Any())
        {
            var coverImage = Model.GameImages.FirstOrDefault(img => img.ImgType == (ImageType)5);
            var base64Image = Convert.ToBase64String(coverImage!.Img);
            var imgSrc = $"data:image/png;base64,{base64Image}";
            <div class="position-relative">
                <img src="@imgSrc" class="img-fluid w-100 firstImg" alt="@Model.Name Banner" style="max-height:690px;" />
               
            </div>
        }

    <div class="container text-center">
        <h1 class="text-orange">Conferma Eliminazione</h1>
        <p class="text-white mb-4 fs-3">
            <strong>@Model.Name</strong> per
            <strong>@Model.Platform</strong>
        </p>
        <p class="text-white mb-4 fs-3">
           
            Sei sicuro di voler eliminare il gioco? 
            <span class="fw-bold">Questa azione è <span class="text-orange">permanente</span> e non può essere annullata.</span>
        </p>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="GameId" />
            <button type="submit" class="auth-btn mx-5">Elimina</button>
            <a asp-action="List" class="discard-btn mx-5 ">Annulla</a>
        </form>
    </div>

  

</div>
