@model capstone_project.Models.DTOs.Auth.UserLoginDTO

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/auth.css" />
<div class="row myGreyBg ">
    <span class="px-4 pt-4 position-fixed">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="https://placehold.co/150x80" alt="logo"> </a>
    </span>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center min-vh-100"> 
        <h1 class="text-white text-center mb-5">Login</h1>
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.ContainsKey("LoginError"))
            {
                <div class="text-valid d-flex justify-content-center mb-2">
                    @ViewData.ModelState["LoginError"]?.Errors[0].ErrorMessage
                </div>
            }

            <div class="form-group d-flex flex-column align-items-center mb-3">
                <input class="w-50" asp-for="Username"  placeholder="Username"/>
                <span asp-validation-for="Username" class="text-valid mt-1"></span>
            </div>

            <div class="form-group d-flex flex-column align-items-center mb-3">
                <input class="w-50" asp-for="Password" type="password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-valid mt-1"></span>
            </div>

            <div class="form-group text-center">
                <input class="auth-btn" type="submit" value="Accedi" class="btn btn-primary" />
            </div>
        </form>
        <div class="mt-4 w-50 d-flex justify-content-center">
            <a  asp-action="Register">Non hai un'account?</a>
        </div>
    </div>
    <div class="d-none d-lg-block col-lg-6 px-0">
        <img src="~/images/banner/login_banner.jpg"  />
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}