@model capstone_project.Models.DTOs.Auth.UserRegisterDTO

@{
    ViewData["Title"] = "Register";
    var categories = ViewBag.Categories as List<Category>; 
}

<h1>Register</h1>

<form asp-action="Register" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PasswordHash" class="control-label"></label>
        <input asp-for="PasswordHash" type="password" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate" class="control-label"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ZipCode" class="control-label"></label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        <select class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Img" class="control-label">Profile Image</label>
        <input asp-for="Img" type="file" class="form-control-file" accept=".jpg,.jpeg,.png" />
        <span asp-validation-for="Img" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label class="control-label mb-1">Inserisci categorie di videogiochi preferiti:</label>
        <div id="categoriesCheckboxes">
            @if (categories != null && categories.Any())
            {
                foreach (var c in categories)
                {
                    <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input"
                               id="category-@c.CategoryId"
                               name="SelectedCategories"
                               value="@c.CategoryId" />
                        <label class="form-check-label" for="category-@c.CategoryId">
                            @c.Name
                        </label>
                    </div>
                }
            }
            else
            {
                <p class="text-warning">Nessuna categoria disponibile.</p>
            }

        </div>
        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
    </div>



    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Login">Already have an account? Login here.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
