@model capstone_project.Models.DTOs.Auth.UserRegisterDTO

@{
    ViewData["Title"] = "Register";
    ViewBag.NavbarMarginTop = false;
    var categories = ViewBag.Categories as List<Category>;
}
<link rel="stylesheet" href="~/css/auth.css" />


<div class="row myGreyBg ">
    <span class="px-4 pt-4 position-fixed w-25">
       <img class="img-fluid" src="https://placehold.co/150x80" alt="logo"> 
    </span>
    <div class="d-none d-lg-block col-lg-6 px-0">
        <img src="~/images/banner/login_banner.jpg" />
    </div>


    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center min-vh-100">
        <h1 class="text-white text-center mb-5 contHide">Registrati</h1>
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.ContainsKey("RegisterError"))
            {
                <div class="text-valid d-flex justify-content-center mb-2 contHide">
                    @ViewData.ModelState["RegisterError"]?.Errors[0].ErrorMessage
                </div>
            }

            <div class="form-group d-flex flex-column align-items-center mb-3">
                <input asp-for="Username" class="w-50 contHide" placeholder="Username"/>
                <span asp-validation-for="Username" class="text-valid mt-1 contHide"></span>
            </div>

            <div class="form-group d-flex flex-column align-items-center mb-3">
                <input asp-for="PasswordHash" type="password" class="w-50 contHide" placeholder="Password" />
                <span asp-validation-for="PasswordHash" class="text-valid mt-1 contHide"></span>
            </div>

            <div class="form-group d-flex flex-column align-items-center mb-3">
                <input asp-for="ConfirmPassword" type="password" class="w-50 contHide" placeholder="Conferma password" />
                <span asp-validation-for="ConfirmPassword" class="text-valid mt-1 contHide"></span>
            </div>

            <div class="form-group d-flex flex-column align-items-center mb-3">
                <input asp-for="Email" class="w-50 contHide" placeholder="Email" />
                <span asp-validation-for="Email" class="text-valid mt-1 contHide"></span>
            </div>
            <div class="form-group text-center">
                <button type="button" id="continue-btn" class="auth-btn">Prosegui</button>
            </div>            
            <div class="form-group d-none contShow mb-3 mt-2">
                <input asp-for="Name" class="w-50" placeholder="Nome"/>
                <span asp-validation-for="Name" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <input asp-for="Surname" class="w-50" placeholder="Cognome"/>
                <span asp-validation-for="Surname" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <input asp-for="BirthDate" class="w-50" type="date" />
                <span asp-validation-for="BirthDate" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <input asp-for="Country" class="w-50" placeholder="Nazionalità"/>
                <span asp-validation-for="Country" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <input asp-for="City" class="w-50" placeholder="Città"/>
                <span asp-validation-for="City" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <input asp-for="Address" class="w-50" placeholder="Indirizzo"/>
                <span asp-validation-for="Address" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <input asp-for="ZipCode" class="w-50" placeholder="CAP / Postal code"/>
                <span asp-validation-for="ZipCode" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <input asp-for="PhoneNumber" class="w-50" placeholder="Nr. telefono"/>
                <span asp-validation-for="PhoneNumber" class="text-valid mt-1 contShow"></span>
            </div>

            <div class="form-group d-none contShow mb-3">
                <select class="w-50" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="" selected disabled>Seleziona il genere</option> <!-- Placeholder option -->
                </select>
                <span asp-validation-for="Gender" class="text-valid mt-1 contShow"></span>
            </div>




            <div class="form-group d-none text-center contShow">
                <button type="button" id="continue-btn-step2" class="auth-btn">Continua</button>
            </div>

            <div class="form-group d-none text-center contShow3" id="back-btn-step3">
                <button type="button" class="auth-btn">Indietro</button>
            </div>


            <div class="form-group d-none contShow2 mb-3 mt-4">
                <label class="text-white">Scegli un'immagine profilo</label>
                <button type="button" id="toggle-predefined-images" class="auth-btn2 mt-2">Scegli un'immagine</button>

                <!-- Hidden by default -->
                <div id="predefined-images-container" style="display: none; margin-top: 10px;">
                    <div class="predefined-images-grid">
                        <!-- Make the images act as radio buttons -->
                        <div class="form-check predefined-image" data-image="image1.jpg">
                            <img src="/images/predefined/image1.jpg" alt="Predefined Image 1" class="selectable-image" width="100" />
                        </div>

                        <div class="form-check predefined-image" data-image="image2.jpg">
                            <img src="/images/predefined/image2.jpg" alt="Predefined Image 2" class="selectable-image" width="100" />
                        </div>

                        <div class="form-check predefined-image" data-image="image3.jpg">
                            <img src="/images/predefined/image3.jpg" alt="Predefined Image 3" class="selectable-image" width="100" />
                        </div>
                        <div class="form-check predefined-image" data-image="image4.jpg">
                            <img src="/images/predefined/image4.jpg" alt="Predefined Image 1" class="selectable-image" width="100" />
                        </div>

                        <div class="form-check predefined-image" data-image="image5.jpg">
                            <img src="/images/predefined/image5.jpg" alt="Predefined Image 2" class="selectable-image" width="100" />
                        </div>

                        <div class="form-check predefined-image" data-image="image6.jpg">
                            <img src="/images/predefined/image6.jpg" alt="Predefined Image 3" class="selectable-image" width="100" />
                        </div>
                        <div class="form-check predefined-image" data-image="image7.jpg">
                            <img src="/images/predefined/image7.jpg" alt="Predefined Image 1" class="selectable-image" width="100" />
                        </div>

                        <div class="form-check predefined-image" data-image="image8.jpg">
                            <img src="/images/predefined/image8.jpg" alt="Predefined Image 2" class="selectable-image" width="100" />
                        </div>

                        <div class="form-check predefined-image" data-image="image9.jpg">
                            <img src="/images/predefined/image9.jpg" alt="Predefined Image 3" class="selectable-image" width="100" />
                        </div>
                        <div class="form-check predefined-image" data-image="image10.jpg">
                            <img src="/images/predefined/image10.jpg" alt="Predefined Image 3" class="selectable-image" width="100" />
                        </div>
                        <div class="form-check predefined-image" data-image="image11.jpg">
                            <img src="/images/predefined/image11.jpg" alt="Predefined Image 3" class="selectable-image" width="100" />
                        </div>
                        <div class="form-check predefined-image" data-image="image12.jpg">
                            <img src="/images/predefined/image12.jpg" alt="Predefined Image 3" class="selectable-image" width="100" />
                        </div>

                        <!-- You can add more images here -->
                    </div>
                </div>
            </div>

            <!-- Hidden field to capture the selected predefined image -->
            <input type="hidden" id="SelectedPredefinedImage" name="SelectedPredefinedImage" />


            <div class="form-group d-none contShow2" id="upload-image-section">
                <label asp-for="Img" class="control-label text-white mb-1">O caricane una</label>
                <input asp-for="Img" type="file" class="file" accept=".jpg,.jpeg,.png" />
                <span asp-validation-for="Img" class="text-valid mt-1"></span>
            </div>


            <div class="form-group mt-4 d-none contShow2">
                <label class="control-label mb-3 text-white">Scegli le tue categorie di videogiochi preferiti:</label>
                <div id="categoriesCheckboxes">
                    @if (categories != null && categories.Any())
                    {
                        foreach (var c in categories)
                        {
                            <div class="form-check">
                                <input type="checkbox"
                                       class="form-check-input"
                                       id="category-@c.CategoryId"
                                       name="SelectedCategories"
                                       value="@c.CategoryId" />
                                <label class="form-check-label text-white" for="category-@c.CategoryId">
                                    @c.Name
                                </label>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-warning">Nessuna categoria disponibile.</p>
                    }

                </div>
                <span asp-validation-for="SelectedCategories" class="text-valid mt-1"></span>
            </div>



            <div class="form-group text-center d-none contShow2 mt-4">
                <input class="auth-btn" type="submit" value="Registrati"  />
            </div>
        </form>
        <div class="mt-4 w-50 d-flex justify-content-center">
            <a asp-action="Login">Hai già un'account?</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/auth.js" asp-append-version="true"></script>       
    }
}