@model capstone_project.Models.ViewModels.ChangePasswordViewModel


<h1 class="text-white text-center">Cambio password</h1>

<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()
    <div class="text-valid d-flex justify-content-center mb-2">
        @Html.ValidationMessage("ChangePasswordError")
    </div>

    <div class="form-group d-flex flex-column align-items-center">
        <label asp-for="OldPassword" class="control-label text-white mb-1 fs-4">Password attuale</label>
        <input asp-for="OldPassword" class="w-25" autocomplete="off"/>
        <span asp-validation-for="OldPassword" class="text-valid mt-1"></span>
    </div>

    <div class="form-group d-flex flex-column align-items-center mt-3 mb-1">
        <label asp-for="NewPassword" class="control-label text-white fs-4">Nuova password</label>
        <input asp-for="NewPassword" class="w-25" />
        <span asp-validation-for="NewPassword" class="text-valid mt-1"></span>
    </div>

    <div class="form-group d-flex flex-column align-items-center mt-3 mb-1">
        <label asp-for="ConfirmNewPassword" class="control-label text-white fs-4">Conferma nuova password</label>
        <input asp-for="ConfirmNewPassword" class="w-25" />
        <span asp-validation-for="ConfirmNewPassword" class="text-valid mt-1"></span>
    </div>

    <div class="form-group mt-4 text-center">
      <a class="" asp-area="" asp-controller="User" asp-action="Profile">
      </a>
        <button type="submit" class="auth-btn mb-5">Cambia Password</button>
    </div>
    
</form>
