@model capstone_project.Models.Category

@{
    ViewData["Title"] = "Conferma Eliminazione Categoria";
    ViewBag.NavbarMarginTop = true;
    ViewBag.HideNavbarMiddle = true;

}

<div class="container-fluid px-0 mb-10">
    <div class="container text-center">
        <h1 class="text-orange">Conferma Eliminazione</h1>

        <p class="text-white mb-4 fs-3">
            <strong>Categoria: @Model.Name</strong>
        </p>

        <p class="text-white mb-1 fs-3">
            Sei sicuro di voler eliminare questa Categoria?
        </p>
        <p class="fw-bold text-white mb-4 fs-3">
            Questa azione è <span class="text-orange">permanente</span> e non può essere annullata.
        </p>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="CategoryId" />
            <button type="submit" class="auth-btn mx-5">Elimina</button>
            <a asp-action="List" class="discard-btn mx-5">Annulla</a>
        </form>
    </div>
</div>
